body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    font-family: Chivo, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1A232E;
    -webkit-font-smoothing: antialiased;
}
.background {
    background-color: #e6e6e6;
    margin-bottom: 15px;
    height: 100%;
    width: 50%;
    overflow: hidden;
    padding-bottom: 15px;
    float: left;
	}

.input-group {
    align-items: center;
    justify-content: space-between;
	margin: auto;
    margin-top: 20px;
	width: 275px;
}

input[type="text"], input[type="password"] {
    border: 1px solid #005082;
}



